<div id="realisations">
	<ul>
		{% for projet in realisations %}
			<li id="a_{{ projet.nom_court }}">
				<h3>{{ projet.nom }}</h3>
				<p class="tags">
					{%  for tag in projet.tags %}
						<span class="{{ tag }}">{{ tags[tag] }}</span>
					{% endfor %}
				</p>
				{% if projet.url %}<a href="{{ projet.url }}" class="button">Visiter le site</a>{% endif %}

				{{ projet.desc|raw }}
				{% if projet.images %}
				<ul class="gallery">
					{%  for i in 1..projet.images %}
						<li>
							<figure>
								<a href="images/realisations_{{ projet.nom_court }}_{{ loop.index }}.jpg">
									<img src="images/realisations_{{ projet.nom_court }}_{{ loop.index }}_thumb.jpg" />
								</a>
							</figure>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="magnific-popup.js"></script>
<script>
	$('.gallery').magnificPopup({
		delegate: 'a', // child items selector, by clicking on it popup will open
		type: 'image',
		removalDelay: 300,
		mainClass: 'mfp-fade'
		// other options
	});
</script>